body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

header {
  background: #333;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

section {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#sobre {
  text-align: center;
}

#sobre img {
  border-radius: 50%;
  border: 1px solid #ddd;
  width: 250px;
  display: block;
  margin: 0 auto;
}

li {
  margin-bottom: 5px;
}

td {
  padding: 5px;
  border: 1px solid #ddd;
}

.tabela-topo td {
  background-color: #333;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 300px;
  padding: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

button {
  padding: 7px 15px;
  font-size: 16px;
  color: #fff;
  background: #333;
  border: 0;
}

footer {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 10px;
}

footer a {
  color: #fff;
}
